/* General */
.calendar-eightysix {
	cursor: default;
	position: absolute;
	z-index: 999;
	text-align: center;
}

.calendar-eightysix,.calendar-eightysix * {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.calendar-eightysix .header.dragger {
	cursor: move;
}

.calendar-eightysix .header .arrow-left,.calendar-eightysix .header .arrow-right
	{
	cursor: pointer;
}

.calendar-eightysix .header .arrow-left {
	float: left;
}

.calendar-eightysix .header .arrow-right {
	float: right;
}

.calendar-eightysix .header .label {
	display: inline-block;
}

.calendar-eightysix .header .label.clickable {
	cursor: pointer;
}

.calendar-eightysix .body {
	position: relative;
}

.calendar-eightysix .body .inner .container {
	position: absolute;
	left: 0;
}

.calendar-eightysix .body .inner .container .row div {
	float: left;
}

.calendar-eightysix .body .inner .container.month.pickable .row div,.calendar-eightysix .body .inner .container.year-decade .row div
	{
	cursor: pointer;
}

/* Specifc */
.calendar-eightysix.default {
	width: 263px;
	height: 240px;
	border: solid 1px #dee4e4;
	background-color: #fff;
	/*background: url('../img/default/background.png') center no-repeat;*/
	/*font-family: Trebuchet, Tahoma, Arial, sans-serif;*/
	font-family: 'HelvetivaNeue', 'Helvetica Neue', Helvetica;
	font-size: 14px;
	color: #717a7c;
	text-shadow: none;
	margin-left: -1px;
	margin-top: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.calendar-eightysix.default .wrapper {
	padding: 10px;
}

/* Header */
.calendar-eightysix.default .header {
	height: 30px;
}

.calendar-eightysix.default .header .arrow-left,.calendar-eightysix.default .header .arrow-right
	{
	width: 12px;
	height: 13px;
	margin: 6px 7px;
}

.calendar-eightysix.default .header .arrow-left {
	background: url('../img/sprite.png') no-repeat -118px 2px;
}

.calendar-eightysix.default .header .arrow-left:hover {
	opacity: .8;
	filter: alpha(opacity = 80)
}

.calendar-eightysix.default .header .arrow-right {
	background: url('../img/sprite.png') no-repeat -105px 2px;
}

.calendar-eightysix.default .header .arrow-right:hover {
	opacity: .8;
	filter: alpha(opacity = 80)
}

.calendar-eightysix.default .header .label {
	margin-top: 6px;
	color: #717a7c;
}

.calendar-eightysix.default .header .label.clickable:hover {
	color: #575b5c;
}

/* Body */
.calendar-eightysix.default .body {
	height: 200px;
}

.calendar-eightysix.default .body .inner .container {
	width: 100%; /*243px*/
	height: 200px;
}

/* General container */
.calendar-eightysix.default .body .inner .container .row {
	width: 243px;
}

.calendar-eightysix.default .body .inner .container .row.even,.calendar-eightysix.default .body .inner .container .row.even div
	{
	
}

.calendar-eightysix.default .body .inner .container .row.odd div {
	
}

.calendar-eightysix.default .body .inner .container .row {
	border-bottom: 1px solid #edeff0;
}

.calendar-eightysix.default .body .inner .container .row.g {
	border-bottom: none;
}

.calendar-eightysix.default .body .inner .container .row.a {
	border-color: #dcdfe1;
}

.calendar-eightysix.default .body .inner .container .row div {
	padding-top: 6px;
}

.calendar-eightysix.default .body .inner .container .row div.today {
	text-decoration: underline;
}

.calendar-eightysix.default .body .inner .container .row div.selected {
	font-weight: normal;
	color: #3cab6b !important;
	text-decoration: none;
}

.calendar-eightysix.default .body .inner .container .row div.non-selectable,.calendar-eightysix.default .body .inner .container .row div.non-selectable:hover
	{
	color: #a8b4b7 !important;
	cursor: default !important;
}

/* Month */
.calendar-eightysix.default .body .inner .container.month .row.a div {
	cursor: default !important;
	color: #888 !important;
}

.calendar-eightysix.default .body .inner .container.month .row {
	height: 25px;
}

.calendar-eightysix.default .body .inner .container.month .row div {
	/*margin-top: 2px;*/
	width: 33px;
}

.calendar-eightysix.default .body .inner .container.month .row div.first
	{
	padding-left: 5px;
}

.calendar-eightysix.default .body .inner .container.month .row div.last
	{
	padding-right: 5px;
}

.calendar-eightysix.default .body .inner .container.month .row div.outside
	{
	color: #dedede;
}

.calendar-eightysix.default .body .inner .container.month .row.even div.outside
	{
	color: #cecece;
}

.calendar-eightysix.default .body .inner .container.month .row.a div {
	color: #9c9c9c;
}

/* Year & decade */
.calendar-eightysix.default .body .inner .container.year-decade .row {
	height: 42px;
}

.calendar-eightysix.default .body .inner .container.year-decade .row.a {
	border-color: #edeff0;
}

.calendar-eightysix.default .body .inner .container.year-decade .row div
	{
	width: 42px;
	padding-top: 13px;
	height: 29px;
}

.calendar-eightysix.default .body .inner .container.year-decade .row div.first
	{
	margin-left: 16px;
}

.calendar-eightysix.default .body .inner .container.year-decade .row div.last
	{
	margin-right: 16px;
}

* html .calendar-eightysix.default .body .inner .container.year-decade .row div.first
	{ /* IE6 fix */
	margin-left: 9px;
}

* html .calendar-eightysix.default .body .inner .container.year-decade .row div.last
	{ /* IE6 fix */
	margin-right: 9px;
}

.calendar-eightysix.default .body .inner .container.month.pickable .row div:hover,.calendar-eightysix.default .body .inner .container.year-decade .row div:hover
	{
	color: #3cab6b;
}

/* Footer */
.calendar-eightysix.default .footer {
	/*background: transparent url('../img/footer-blue.png') top no-repeat;*/
	height: 1px;
}