.ui-widget, .ui-widget .ui-widget {
    font-size: 12px;
}*

html, body {
	font-family: Verdana,Arial,sans-serif;
	font-size: 12px;
	color: #808080;
	margin: 0;
	padding: 0;
	background-color: #333333;
	-webkit-text-size-adjust: none;
	min-height: 100%;
	height: auto !important;
	height: 100%
}

#layout {
	width: 1000px;
	margin: 0 auto 0 auto;
	margin-top: 186px;
}

#box {
	width: 563px;
	margin: 0 auto 0 auto;
	padding-bottom: 113px;
	background: white;
	position: relative;
	-webkit-box-shadow: 0 7px 20px #1F1F1F;
	-moz-box-shadow: 0 7px 20px #1f1f1f;
	box-shadow: 0 7px 20px #1F1F1F;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

#main .header {
	height: 64px;
	width: 100%;
	border-bottom: 1px solid #E4E4E4;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #F6F6F7;
	background-image: -webkit-linear-gradient(top, #F6F6F7, #EDEDED);
	/* background-repeat: repeat-x; */
	background-repeat-x: repeat;
	background-repeat-y: no-repeat;
	
}

.social {
	float: right;
	margin: 24px 32px 0 0;
	width: 60px;
	height: 17px;
	text-align: right;
}

.social a {
	opacity: .6;
	filter: alpha(opacity=60);
}

a {
	text-decoration: none;
}

.social .twitter {
	background: url(../resources/images/sprite.png) no-repeat 0 1px;
}

.social .facebook {
	background: url(../resources/images/sprite.png) no-repeat 5px -31px;
}

#caja {
/*     width: 1000px; */
	float: left;
	background-color:#FFFFFF;
    min-height: 95px;
	margin: 0 auto;
 } 

#caja .right{
	float: right;
}
 
.logo3 {
	padding-top: 68px;
	padding-bottom: 20px;
	float: left;
	padding-left: 80px;
	margin-top: 20px;
	margin: 0 auto;
}

#menu {
	float: right;
	margin-top: 55px;
	margin-right: 46px;
	width: 556px;
	text-align: left;
}

#body #subbody {
	margin: 0px 0px 0px 0px;
	background-color: #FFFFFF;
}

.textTitulo  {
	font-size: 25px;
	line-height:35px;
	font-weight:bold;
}

.textSubTitulo  {
	font-size: 12px;
	line-height:20px;
	font-weight: normal;
}

#subbody h2 {
	font-size: 15px;
	color: #000;
	float: left;
	margin-left: 30px;
	_margin-left: 15px;
	margin-top: 15px;
	padding-bottom: 18px;
}

h2  {
	width: 300px;
	float: left;
	padding-left: 30px;
	line-height: 69px;
	font-size: 17px;
	cursor: pointer;
}

/* Linea de la 2da Cabecera */
#body #subbody #linecab {
	border-bottom: solid 1px #DFDFDF;
}

#body #subbody #header2 {
	background-color: #FCFCFC;
	border-bottom: solid 1px #DFDFDF;
	height: 75px;
	font-size: 12px;
	padding-top: 35px;
	padding-bottom: 0px;
	/*float: left;*/
	padding-left: 80px;
	padding-right: 70px;
}

.both {
	clear: both;
	visibility: hidden;
}

#content {
	background-color: #FFFFFF;
/* 	width:1000px; */
	height:auto;
}

#contentcent {
	background-color: #FFFFFF;
/* 	width:900px; */
	height:auto;
	font-size: 12px;
	margin: 0 auto 0 auto;
}

/** footer **/
#footer {
    width: 1000px;
	padding-top: 0px;
	padding-left: 0px;
	/*padding-rigth: 30px;*/
	float: left;
    min-height: 95px;
	margin: 0 auto;
}

#footer a {
	color: #808080;
}

#footer a:hover {
	color: #00aaff;
}

#footer .sep {
	color: #cac9c9;
}

#footer .left {
	float: left;
	padding-top: 26px;
	padding-left: 60px;
	font-family:'Helvetica Neue', Helvetica;
	font-size:14px;
}

#footer .right{
	float: right;
	padding-top: 20px;
	padding-right:60px;
}

/*** Pesonalización Primefaces ***/

.inputMediano {
	width: 200px !important;
}

.inputGrande {
	width: 300px !important;
}

.selectOneMediano {
	width: 207px !important;
}

.buttonSmall {
	vertical-align: center;
	height: 18px;
	width: 18px;
}
/* .ui-fieldset, .ui-fieldset .ui-fieldset-legend { */
/* 	padding: 0.6em 1em !important; */
/* } */


/*  Estilos para el Gestion talleres  */


#btnGuardar {
   float:  left;
	
}

#btnSalir {
	
	float:  right;
}


div.wrapper { 
width:600px;
border-style: solid;
border-width: thin;
border: 1px  solid #707a74;
margin-left: 4px;
padding-left: 8px;
padding-right: 8px;
padding-top: 8px;
} 
div.left_column { 
width:200px; 
float:left; 
text-align:left; 
vertical-align:middle; 
} 
div.content { 
width:100px; 
float:left; 
text-align:center; 
} 
div.right_column { 
width: 300px !important; 
float:right; 
text-align:center; 
vertical-align:middle; 
} 
hr { 
clear:both; 
display:block; 
visibility:hidden;}


